input:not([type]),
input[type=text],
input[type=email],
input[type=password] {
  &::-webkit-input-placeholder {
    line-height: 22px;
  }

  &[readonly] {
    &::-moz-selection { background: transparent; }
    &::selection { background: transparent; }
  }
}
