ui-tagger {
  // Form
  > ui-container {
    margin-bottom: 5px;

    ui-icon-button {
      flex: 0 0 36px;
      padding: 0;
    }

    ui-input {
      flex: 1;
    }
  }

  // Disabled state
  &.disabled ui-tagger-tag {
    @extend %disabled;
    @include colors($disabled);
  }
}

